body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    #wd-kambaz .wd-main-content-offset {
        padding-left: 140px !important;
    }
}

.list-group.wd > .list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
}

.btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
}

.bg-secondary {
    --bs-secondary-rgb: 199, 205, 209;
}

.list-group-item {
    --bs-list-group-border-color: gray;
}

.wd-lesson {
    border-left: 3px solid green !important;
}

.assignment-span-border {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 50px;
}

.wd-assignment-list-item {
    border-left: 3px solid green !important;
}

.border-left-none {
    border-left: none;
}

.border-right-none {
    border-right: none
}

.assignment-field-border {
    border-style: solid;
    border-width: 1px;
    border-color: #dfe2e6;
    border-radius: 7px;
}

.display-block-none {
    display: none
}

.display-block-block {
    display: block
}